{% extends "store/base.html" %}
{% block title %}
    {{ product.label }}
{% endblock title %}
{% block content %}
    <h1>{{ product.label }}</h1><br>
    <h1>R{{ product.price }}</h1><br>
    <h3>Seller : {{ product.seller }}</h3>
    <form action="{% url 'add_to_cart' pk=product.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
    </form>
    <h2>Reviews</h2>
    <div class="navbutton">
        <a href="{% url 'add_review' pk=product.pk %}">ADD Review</a>
    </div>
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
            <!-- The 'message.tags' variable outputs 'warning' for styling -->
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% for review in review_list %}
        <h5><b>Title</b></h5>
        {{ review.title }}<br>
        <h5><b>Content</b></h5>
        {{ review.content }}
        <h6>By {{ review.writer }}</h6>
    {% endfor %}
{% endblock content %}